* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin-bottom: 40px;
  padding: 20px 0;
  text-align: center;
  height: 500px;
}
nav {
  margin-bottom: 50px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  padding-bottom: 20px;
}
nav a,
nav h1 {
  padding: 0 20px;
  display: inline-block;
  text-decoration: none;
}
img {
  width: 400px;
  height: auto;
}
#intro .text {
  padding: 25px;
  position: relative;
  top: 75px;
}
#intro .text h1,
.text {
  text-align: left;
}
#intro,
#aboutCard {
  margin: 30px 20px;
}
.aboutText {
  position: relative;
  right: 20px;
  top: 70px;
}
.aboutText,
.aboutText h1 {
  text-align: right;
}
#aboutCard img {
  width: 500px;
  height: auto;
}
h1 {
  text-align: center;
}
table {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}
td,
th {
  padding: 30px;
}
.tableCard {
  padding: 80px 40px 40px 40px;
}
.exampleContainer img {
  padding-top: 55px;
}
.exampleContainer {
  text-align: center;
}
#example {
  max-height: 500px;
  overflow: scroll;
}
